flask==3.1.2
flask-cors==6.0.1
python-dotenv==1.2.1
gunicorn==23.0.0
requests==2.32.5
Pillow==12.0.0
numpy==1.26.4
google-generativeai==0.5.4
google-ai-generativelanguage==0.6.4
google-auth==2.43.0
pydantic==2.12.5
tqdm==4.67.1
typing-extensions==4.15.0
protobuf==6.33.1
google-api-core==2.28.1
